asp.net/登录系统数据库框架----1/WebApplication5/Web References/localhost/CheckCodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nLen" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckCodeResult" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckCodeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCode" />
  </wsdl:message>
  <wsdl:message name="CheckCodeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="CheckCodeServiceSoap">
    <wsdl:operation name="CheckCode">
      <wsdl:input message="tns:CheckCodeSoapIn" />
      <wsdl:output message="tns:CheckCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckCodeServiceSoap" type="tns:CheckCodeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCode">
      <soap:operation soapAction="http://tempuri.org/CheckCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckCodeServiceSoap12" type="tns:CheckCodeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCode">
      <soap12:operation soapAction="http://tempuri.org/CheckCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckCodeService">
    <wsdl:port name="CheckCodeServiceSoap" binding="tns:CheckCodeServiceSoap">
      <soap:address location="http://localhost:4177/CheckCodeService.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckCodeServiceSoap12" binding="tns:CheckCodeServiceSoap12">
      <soap12:address location="http://localhost:4177/CheckCodeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>